<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macaron.corpresent.domain.user.model.dao.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.macaron.corpresent.domain.user.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
            <result property="isBlocked" column="is_blocked" jdbcType="BIT"/>
            <result property="sort" column="sort" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,nickname,
        password,email,phone_number,
        icon,version,is_deleted,
        create_time,update_time,is_blocked,
        sort
    </sql>
</mapper>
